#set ($size = $matches.size() - 1)

### The win percentage of current AI implementations:

| | Class Name | #foreach($x in [0..$size]) #$x | #end

| ---: | :--- | #foreach($x in [0..$size]) :---: | #end

#foreach($y in [0..$size])
| #$y | #def($matches.get($y).get(0).getName()) | #foreach($x in [0..$size])
#set ($percentage = (($matches.get($y).get($x).getWins() / $matches.get($y).get($x).getNumberOfGames()) * 100) )
#if ($matches.get($y).get($x).getWins()) %$percentage #else - #end | #end

#end

### Wins or Ties

| | Class Name | #foreach($x in [0..$size]) #$x | #end

| ---: | :--- | #foreach($x in [0..$size]) :---: | #end

#foreach($y in [0..$size])
| #$y | #def($matches.get($y).get(0).getName()) | #foreach($x in [0..$size])
#set ($percentage = (($matches.get($y).get($x).getWinsOrTies() / $matches.get($y).get($x).getNumberOfGames()) * 100) )
#if ($matches.get($y).get($x).getWinsOrTies()) %$percentage #else - #end | #end

#end

### Performance (in millis)

| | Class Name | Performance |
| ---: | :--- | :---: |
#foreach($ai in $ais)
| $velocityCount |  $ai | $ai.getDuration()
#end

#macro(def $parm)
#if (!$!parm || $!parm == "")
 io.github.followsclosely.ttt.ai.DummyAI #else $parm #end
#end
